{{ form_start(form) }}

    {{ form_start(form) }}
    {{ form_widget(form.Room,  {'attr': {'class': 'd-none'}, 'type': 'hidden'}) }}
    {{ form_widget(form.User,  {'attr': {'class': 'd-none'}, 'type': 'hidden'}) }}

<div class="input-group mb-3">
    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'aria-describedby': 'button-addon'}}) }}
    <button class="btn btn-primary">{{ button_label|default('Enregister') }}</button>
</div>

{{ form_end(form) }}
