{# Section principale avec les messages #}
<div {{ attributes }} class="col-md-9 col-lg-10" data-poll="refreshChatMessages">
	<h1 class="text-center mb-4">{{ currentRoom.title }}</h1>
	<div class="card h-80">
		<div class="card-header bg-primary text-white">
			<h5 class="mb-0">Messages</h5>
		</div>

		{# Zone des messages #}
		<div class="card-body" {# style="height: calc(100vh - 300px); overflow-y: auto;" #}>
			<ul class="list-group">
				{% for chat_message in this.chatMessages(currentRoom) %}
					<li class="list-group-item">
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<strong>{{ chat_message.user.author }}</strong>
								<br>
								<p class="mb-0">{{ chat_message.content }}</p>
							</div>
							<small class="text-muted">
								{{ chat_message.createdAt|date('Y-m-d H:i:s') }}
							</small>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>

		{# Boutons d'appel à Groq #}
		<div class="card-body ">
			<button class="btn btn-primary">
				<a class="nav-link" href={{ path('groq_chat', {'roomId': currentRoom.id,'questionId': 1}) }}>
					Recapituler</a>
			</button>
			<button class="btn btn-primary">
				<a class="nav-link" href="{{ path('groq_chat', {'roomId': currentRoom.id, 'questionId': 2}) }}">
					Générer des idées</a>
			</button>
			<button class="btn btn-primary">
				<a class="nav-link" href="{{ path('groq_chat', {'roomId': currentRoom.id, 'questionId': 3}) }}">
					Analyser</a>
			</button>
			<button class="btn btn-primary">
				<a class="nav-link" href="{{ path('groq_chat', {'roomId': currentRoom.id, 'questionId': 4}) }}">
					Répondre</a>
			</button>
		</div>

		{# Formulaire d'envoi de message #}
		<div class="card-footer">
			{{ include('chat_message/_form.html.twig') }}
		</div>
	</div>
</div>
